@page
@using Microsoft.AspNetCore.Http.Extensions
@model Weixin.Next.Sample.Pages.WeixinModel
@{
    Layout = "_Layout";
    ViewBag.Title = "微信服务器入口";
}

<p>请在 config.json 中设置好以下项:</p>
<ul>
    <li>MpSettings:AppId</li>
    <li>MpSettings:AppSecret</li>
    <li>MpSettings:Token</li>
    <li>MpSettings:EncodingAESKey</li>
    <li>MpSettings:LoggingEnabled</li>
</ul>

<p>请在微信公众号管理界面中开发-基本设置页面将服务器 URL 设置为: </p>

<p><code>@Request.GetDisplayUrl()</code></p>

<p>并将消息加密方式设置为安全模式.</p>
